<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.admin.mapper.PmsProductMapper">

    <select id="getById" parameterType="long" resultType="com.wd.admin.entity.PmsProduct">
        select * from pms_product where id = #{id,jdbcType=BIGINT};
    </select>

    <select id="listByPage" parameterType="com.wd.admin.request.QueryListReq"
            resultType="com.wd.admin.entity.PmsProduct">
        select * from pms_product
        <where>
            <if test="name != null and name != ''">
                instr(name,#{name,jdbcType=VARCHAR})
            </if>
        </where>
    </select>

    <update id="updateProduct" parameterType="com.wd.admin.entity.PmsProduct">
        update pms_product set
        brand_id = #{brandId,jdbcType=BIGINT},
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
        feight_template_id = #{feightTemplateId,jdbcType=BIGINT},
        product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        pic = #{pic,jdbcType=VARCHAR},
        product_sn = #{productSn,jdbcType=VARCHAR},
        delete_status = #{deleteStatus,jdbcType=TINYINT},
        publish_status = #{publishStatus,jdbcType=TINYINT},
        new_status = #{newStatus,jdbcType=TINYINT},
        recommand_status = #{recommandStatus,jdbcType=TINYINT},
        verify_status = #{verifyStatus,jdbcType=TINYINT},
        sort = #{sort,jdbcType=INTEGER},
        sale = #{sale,jdbcType=INTEGER},
        price = #{price,jdbcType=DECIMAL},
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
        gift_growth = #{giftGrowth,jdbcType=INTEGER},
        gift_point = #{giftPoint,jdbcType=INTEGER},
        use_point_limit = #{usePointLimit,jdbcType=INTEGER},
        sub_title = #{subTitle,jdbcType=VARCHAR},
        description = #{description,jdbcType=LONGVARCHAR},
        original_price = #{originalPrice,jdbcType=DECIMAL},
        stock = #{stock,jdbcType=INTEGER},
        low_stock = #{lowStock,jdbcType=INTEGER},
        unit = #{unit,jdbcType=LONGVARCHAR},
        weight = #{weight,jdbcType=DECIMAL},
        preview_status = #{previewStatus,jdbcType=TINYINT},
        service_ids = #{serviceIds,jdbcType=VARCHAR},
        keywords = #{keywords,jdbcType=VARCHAR},
        note = #{note,jdbcType=VARCHAR},
        album_pics = #{albumPics,jdbcType=VARCHAR},
        detail_title = #{detailTitle,jdbcType=VARCHAR},
        detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
        detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
        detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
        promotion_start_time = #{promotionStartTime,jdbcType=TIMESTAMP},
        promotion_end_time = #{promotionEndTime,jdbcType=TIMESTAMP},
        promotion_per_limit = #{promotionPerLimit,jdbcType=INTEGER},
        promotion_type = #{promotionType,jdbcType=TINYINT},
        brand_name = #{brandName,jdbcType=VARCHAR},
        product_category_name = #{productCategoryName,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="addProduct" parameterType="com.wd.admin.entity.PmsProduct">
        INSERT INTO pms_product
        (brand_id,
        product_category_id,
        feight_template_id,
        product_attribute_category_id,
        name,
        pic,
        product_sn,
        delete_status,
        publish_status,
        new_status,
        recommand_status,
        verify_status,
        sort,
        sale,
        price,
        promotion_price,
        gift_growth,
        gift_point,
        use_point_limit,
        sub_title,
        description,
        original_price,
        stock,
        low_stock,
        unit,
        weight,
        preview_status,
        service_ids,
        keywords,
        note,
        album_pics,
        detail_title,
        detail_desc,
        detail_html,
        detail_mobile_html,
        promotion_start_time,
        promotion_end_time,
        promotion_per_limit,
        promotion_type,
        brand_name,
        product_category_name,
        gmt_create,
        gmt_modified) VALUES
            (#{brandId,jdbcType=BIGINT},
            #{productCategoryId,jdbcType=BIGINT},
            #{feightTemplateId,jdbcType=BIGINT},
            #{productAttributeCategoryId,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR},
            #{pic,jdbcType=VARCHAR},
            #{productSn,jdbcType=VARCHAR},
            #{deleteStatus,jdbcType=TINYINT},
            #{publishStatus,jdbcType=TINYINT},
            #{newStatus,jdbcType=TINYINT},
            #{recommandStatus,jdbcType=TINYINT},
            #{verifyStatus,jdbcType=TINYINT},
            #{sort,jdbcType=INTEGER},
            #{sale,jdbcType=INTEGER},
            #{price,jdbcType=DECIMAL},
            #{promotionPrice,jdbcType=DECIMAL},
            #{giftGrowth,jdbcType=INTEGER},
            #{giftPoint,jdbcType=INTEGER},
            #{usePointLimit,jdbcType=INTEGER},
            #{subTitle,jdbcType=VARCHAR},
            #{description,jdbcType=LONGVARCHAR},
            #{originalPrice,jdbcType=DECIMAL},
            #{stock,jdbcType=INTEGER},
            #{lowStock,jdbcType=INTEGER},
            #{unit,jdbcType=LONGVARCHAR},
            #{weight,jdbcType=DECIMAL},
            #{previewStatus,jdbcType=TINYINT},
            #{serviceIds,jdbcType=VARCHAR},
            #{keywords,jdbcType=VARCHAR},
            #{note,jdbcType=VARCHAR},
            #{albumPics,jdbcType=VARCHAR},
            #{detailTitle,jdbcType=VARCHAR},
            #{detailDesc,jdbcType=LONGVARCHAR},
            #{detailHtml,jdbcType=LONGVARCHAR},
            #{detailMobileHtml,jdbcType=LONGVARCHAR},
            #{promotionStartTime,jdbcType=TIMESTAMP},
            #{promotionEndTime,jdbcType=TIMESTAMP},
            #{promotionPerLimit,jdbcType=INTEGER},
            #{promotionType,jdbcType=TINYINT},
            #{brandName,jdbcType=VARCHAR},
            #{productCategoryName,jdbcType=VARCHAR},
            #{gmtCreate,jdbcType=TIMESTAMP},
            #{gmtModified,jdbcType=TIMESTAMP})
    </insert>

</mapper>